---
import { Image } from "astro:assets";
import Layout from "../../2024/layout.astro";
import type { Agenda } from "../../2024/@types/agenda";
import type { Faq } from "../../2024/@types/faq";
import type { Speaker } from "../../2024/@types/speakers";
import type { Sponsor } from "../../2024/@types/sponsors";
import Accordion from "../../2024/components/Accordion";
import AgendaData from "../../2024/components/AgendaData";
import Button from "../../2024/components/Button";
import CardSpeaker from "../../2024/components/CardSpeaker.astro";
import Timer from "../../2024/components/Timer";
const eventDate = new Date(2024, 10, 16, 1, 30, 0);
const faq = await Astro.glob("../../2024/data/faq.json");
const agenda = await Astro.glob("../../2024/data/agenda.json");
const speakers = await Astro.glob("../../2024/data/speakers.json");
const sponsors = await Astro.glob("../../2024/data/sponsors.json");

const faqData: Faq[] = Object.values(faq).map((item) => (item as any).default)[0];
const agendaData: Agenda[] = Object.values(agenda).map((item) => (item as any).default)[0];
const speakersData: Speaker[] = Object.values(speakers).map((item) => (item as any).default)[0];

const sponsorsData: Sponsor[] = Object.values(sponsors).map((item) => (item as any).default)[0];
const sponsorImages = await Astro.glob<{ default: ImageMetadata }>(
  "../../2024/data/images/sponsors/*.{png,jpg,jpeg,svg,webp}",
);
---

<Layout>
  <section id="hero" class="min-h-full">
    <div class="container">
      <div class="grid grid-cols-12">
        <div
          class="hero-left col-span-12 flex flex-grow flex-wrap items-end gap-10 pb-14 pt-24 md:py-24 lg:col-span-4 lg:block">
          <img src="/2024/logo.svg" alt="" class="grid-col w-[320px] lg:mb-8" />
          <div class="hero-text text-gray- flex flex-col gap-4">
            <h1 class="mb-3 text-3xl font-bold">Indonesia Software Developer Conference</h1>
            <div class="flex flex-col items-start gap-2 text-lg">
              <p class="flex items-center gap-2">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM13.29 14.71L9 10.41V5H11V9.59L14.71 13.3L13.29 14.71Z"
                    fill="black"></path>
                </svg>
                <span>16-17th November, 2024</span>
              </p>
              <p class="flex items-center gap-2">
                <svg width="20" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6.92308 0C3.0956 0 0 3.13 0 7C0 8.74 0.494505 10.37 1.39451 11.84C2.33407 13.38 3.57033 14.7 4.51978 16.24C4.98461 16.99 5.32088 17.69 5.67692 18.5C5.93407 19.05 6.14176 20 6.92308 20C7.7044 20 7.91209 19.05 8.15934 18.5C8.52527 17.69 8.85165 16.99 9.31648 16.24C10.2659 14.71 11.5022 13.39 12.4418 11.84C13.3516 10.37 13.8462 8.74 13.8462 7C13.8462 3.13 10.7505 0 6.92308 0ZM6.92308 9.75C5.55824 9.75 4.45055 8.63 4.45055 7.25C4.45055 5.87 5.55824 4.75 6.92308 4.75C8.28791 4.75 9.3956 5.87 9.3956 7.25C9.3956 8.63 8.28791 9.75 6.92308 9.75Z"
                    fill="black"></path>
                </svg>
                <a href="https://maps.app.goo.gl/yu2vU1EhWSZ2Gxse9">GetCourse Hall, Jakarta Selatan</a>
              </p>
            </div>
          </div>
        </div>
        <div
          class="hero-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col py-14 text-white md:py-28 lg:col-span-8 lg:col-start-5">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="col-start-1 -col-end-1 lg:col-start-2">
            <div class="timer-area mb-12 flex items-center justify-center rounded-lg px-10 py-12 lg:py-24">
              <Timer
                client:only="react"
                date={eventDate}
                className="text-xl md:gap-5 md:text-xl xl:gap-10 xl:text-2xl"
              />
            </div>
            <div class="flex flex-col gap-2">
              <h2 class="text-3xl font-bold">IDSW 2024 is Over!</h2>
              <p class="text-lg font-light opacity-80 md:text-xl lg:text-start">
                Thank you to all our speakers, sponsors, and attendees for making the first IDSW Conference a huge
                success!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="bg-gradient-to-b from-[#030E1C] to-[#061C3C] py-12">
    <div class="container">
      <div class="grid grid-cols-12 items-center">
        <div class="about-left col-span-12 mb-8 gap-10 pb-0 lg:col-span-4 lg:mb-0 lg:block">
          <h2 class="text-2xl font-bold !leading-normal text-white md:text-5xl">Built by the Community</h2>
        </div>
        <div
          class="about-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col lg:col-span-8 lg:col-start-5">
          <p class="col-span-12 text-sm !leading-relaxed text-gray-200 sm:text-xl lg:col-span-8 lg:col-start-2">
            IDSW is Indonesia's first software developer conference. Organized by <a
              href="https://perkodi.org/"
              class="font-semibold underline">Perkodi</a
            > and <span class="font-semibold">various tech communities</span>, its mission is to offer annual in-depth
            sessions on the most important and new technologies.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors">
    <div class="container">
      <div class="relative grid grid-cols-12 items-center py-8 lg:py-0">
        <div class="line-horizontal absolute bottom-5 left-0 hidden h-0.5 w-full bg-[#B8CAE3] lg:block"></div>
        <div class="sponsors-left col-span-12 mb-8 gap-10 py-0 lg:col-span-4 lg:mb-0 lg:block lg:py-12">
          <h2 class="text-2xl font-bold !leading-normal md:text-4xl">Event Sponsors</h2>
        </div>
        <div
          class="sponsors-right relative col-span-12 col-start-1 flex flex-wrap items-center justify-normal gap-3 py-0 lg:col-span-8 lg:col-start-5 lg:justify-evenly lg:py-12">
          <div class="line-up absolute bottom-0 left-0 hidden h-12 w-0.5 bg-[#B8CAE3] lg:block"></div>
          {
            sponsorsData.map((sponsor) => (
              <a href={sponsor.url} target="_blank" title={sponsor.name}>
                <Image
                  src={sponsorImages.find((s) => s.default.src.includes(sponsor.logo))!.default}
                  alt={sponsor.name}
                  class="h-[40px] w-auto md:h-[50px]"
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <section id="speakers" class="">
    <div class="container">
      <div class="grid grid-cols-12">
        <div
          class="speakers-left relative col-span-12 items-end py-8 lg:col-span-4 lg:block lg:min-h-[1000px] lg:py-24">
          <div class="bg-to-start -translate-y-3 bg-lightblue">
            <img
              src="/2024/logo-white.svg"
              alt=""
              class="grid-col absolute -bottom-8 right-0 hidden w-[520px] lg:mb-8 lg:block"
            />
          </div>
          <div class="faq-text text-white">
            <h2 class="mb-0 w-2/3 text-2xl font-bold !leading-normal md:mb-8 md:text-3xl lg:text-4xl">
              Our Esteemed Speakers
            </h2>
            <p class="hidden text-xl leading-relaxed opacity-80 lg:block">
              Discover valuable insights and perspectives from our distinguished speakers as they share their expertise,
              experiences, and innovative ideas to inspire.
            </p>
            <img
              src="/2024/logo-white.svg"
              alt=""
              class="grid-col absolute -right-12 top-0 block h-full lg:mb-8 lg:hidden"
            />
          </div>
        </div>
        <div
          class="speakers-right relative col-span-12 flex-shrink flex-col bg-primary-dark py-12 lg:col-span-8 lg:px-12">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="speakers grid grid-cols-2 gap-5 md:grid-cols-3 xl:grid-cols-4">
            {speakersData.map((speaker) => <CardSpeaker data={speaker} />)}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="agenda" class="bg-gradient-to-br from-[#0A2B5B] to-[#22406B] py-16">
    <div class="container">
      <AgendaData data={agendaData} client:load />
    </div>
  </section>

  <section id="faq" class="">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="faq-left relative col-span-12 hidden items-end py-24 pr-8 lg:col-span-4 lg:block">
          <div class="bg-to-start bg-primary-dark"></div>
          <div class="faq-text text-white">
            <h2 class="mb-3 text-3xl font-bold !leading-relaxed md:text-4xl">Frequently Asked Questions</h2>
            <p class="text-lg text-gray-400">Everything you need to know about the event.</p>
          </div>
        </div>
        <div class="faq-right relative col-span-12 flex-shrink flex-col py-12 lg:col-span-8 lg:px-16 lg:py-24">
          <div class="bg-to-end bg-[#E7F1FF]"></div>
          <h2 class="mb-8 text-3xl font-bold md:hidden">Frequently Asked Questions</h2>
          <Accordion data={faqData} client:load />
        </div>
      </div>
    </div>
  </section>
</Layout>
