---
import "@fontsource-variable/inter";
import Header from "./components/Header";
import "./styles.css";

const title = "IDSW 2025";
const description =
  "Join us for the Indonesia Software Developer Conference (IDSW) on 22-23rd November, 2025. Indonesia's premier software developer conference bringing together developers, engineers, and technology enthusiasts.";
const keywords =
  "Indonesia Software Developer Conference, IDSW, software development, conference, Jakarta, 2025, developers, networking, technology";

const origin = Astro.url.origin;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Only render if public -->
    <meta name="robots" content="index, follow" />

    <meta name="generator" content="Astro" />
    <link rel="icon" href="/favicon.ico" />

    <!-- Primary SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${origin}/og.jpg`} />
    <meta property="og:url" content={origin} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="IDSW" />

    <!-- Twitter / X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${origin}/og.jpg`} />
    <meta name="twitter:site" content="@idswdev" />
  </head>

  <body>
    <main class="font-sans">
      <Header client:load />
      <slot />
    </main>
    <script>
      import posthog from "posthog-js";
      const posthogId = import.meta.env.PUBLIC_POSTHOG_ID;

      if (posthogId) {
        posthog.init(`${posthogId}`, {
          api_host: "https://us.i.posthog.com",
        });
      }
    </script>
  </body>
</html>
