---
import "@fontsource-variable/inter";
import "./styles.css";
import Header from "./components/Header";

const title = "IDSW 2025";
const description =
  "Join us for the Indonesia Software Developer Conference (IDSW) on 22-23rd November, 2025. Indonesia's premier software developer conference bringing together developers, engineers, and technology enthusiasts.";
const keywords =
  "Indonesia Software Developer Conference, IDSW, software development, conference, Jakarta, 2025, developers, networking, technology";

const isPublic = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {isPublic && <meta name="robots" content="index, follow" />}
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
    <meta property="og:image" content="/og.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/og.jpg" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="IDSW Organizers" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://www.idsw.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="IDSW" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <title>{title}</title>
  </head>
  <body>
    <main class="font-sans">
      <Header client:load />
      <slot />
    </main>
    <script>
      import posthog from "posthog-js";
      const posthogId = import.meta.env.PUBLIC_POSTHOG_ID;

      if (posthogId) {
        posthog.init(`${posthogId}`, {
          api_host: "https://us.i.posthog.com",
        });
      }
    </script>
  </body>
</html>
