---
import { Image } from "astro:assets";
import type { Speaker } from "../@types/speakers";

interface Props {
  data: Speaker;
}

const { data }: Props = Astro.props;
const images = await Astro.glob<{ default: ImageMetadata }>("../data/images/speakers/*.{png,jpg,jpeg,svg,webp}");
const image = images.find((img) => img.default.src.includes(data.imageName));

if (!image) {
  throw new Error(`"${data.imageName}" does not exist in glob: "src/data/images/speakers/*.{png,jpg,jpeg,svg,webp}"`);
}
---

<div class="card mb-8">
  <div class="card-image bg-white p-4 lg:p-6">
    <Image src={image.default} alt={data.name} width={200} height={200} class:list={["h-full w-full object-cover"]} />
  </div>
  <div class="card-content mt-3 text-center">
    <div class="card-title mb-1 pt-3 text-base font-bold text-white lg:text-2xl">{data.name}</div>
    <div class="card-subtitle text-sm text-gray-200 lg:text-lg">{data.title}</div>
    <ul class="mt-2 flex flex-wrap justify-center gap-2">
      {
        data.socialUrl.map((url) => {
          if (url.includes("x.com")) {
            return (
              <li>
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex min-h-8 min-w-8 items-center rounded p-2">
                  <img src="/2024/icons/x.svg" alt="X" class="h-4 w-4" />
                </a>
              </li>
            );
          } else if (url.includes("facebook.com")) {
            return (
              <li>
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex min-h-8 min-w-8 items-center rounded p-2">
                  <img src="/2024/icons/fb.svg" alt="Facebook" class="h-4 w-4" />
                </a>
              </li>
            );
          } else if (url.includes("linkedin.com")) {
            return (
              <li>
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex min-h-8 min-w-8 items-center rounded p-2">
                  <img src="/2024/icons/linkedin.svg" alt="LinkedIn" class="h-4 w-4" />
                </a>
              </li>
            );
          }
          return null;
        })
      }
    </ul>
  </div>
</div>
